name: Run Jest Tests

on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci

      - name: Run Jest tests
        run: npm test

      - name: Upload Jest results artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jest-test-results
          path: test-results/jest/

      - name: Publish test results to PR
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: test-results/jest/*.xml


username-jaskarandeep23
